/* TODO delete comments */
/* Cascading Style Sheets */
/* Processing starts at the top and goes over every line, when multiple lines update the same field ie. 
h1 the last one is leading */

/* Color palette:
 #E3F2FD
 #BBDEFB
 #90CAF9
 #64B5F6
 #42A5F5
 #2196F3
 #1E88E5
 #1976D2
 #1565C0
 #0D47A1
 */

body {
    font-family: Arial, sans-serif;
    background-color: #E3F2FD;
    color: #1565C0;
    text-align: center;
    padding-top: calc(60px + 60px);
}

/* nav bar specific styling */

.header-navbar {
    position: fixed;
    /* padding: 10px; */
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #BBDEFB;
}

.navbar-title {
    padding: 10px;
    border: 5px #90CAF9 solid;
    width: 100%;
    max-width: 80vw;
    margin: 10px auto;
    border-radius: 20px;
    background-color:#BBDEFB;
    display: block;
    box-sizing: border-box; /* tells browser to account for margin and padding, not to exceed width of screen*/
}

.navbar-title:hover {
    background-color: #64B5F6;
    color: #E3F2FD;
}

/* main body styling */

.main-media img {
    width: 80%;
    max-width: 1800px;
    height: auto;
    display: block; 
    border-radius: 10px; 
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    margin: 10px auto;
    padding: 10px;
}

.main-media fieldset {
    padding: 20px;
    width: 80%;
    max-width: 1800px;
    margin: 0px auto;
    border-width: 10px;
    border-color: #BBDEFB;

}

.main-media legend {
    font-weight: 900;
}

.main-media article {
    font-size: larger;
    font-weight: bolder;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    font-weight: lighter;
}

/* footer specific */

footer {
    margin-top: 40px;
    text-align: center;
    font-size: small;
    padding-top: 20px;
}

footer address {
    font-size: smaller;
}

footer a:hover {
    text-decoration: underline;
}




/* Dit is commentaar */